.chart {
    height: 8px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #f1f2f6;
    width: 100%;
    position: relative;
}

.value {
    border-radius: 20px;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: #2ed573;
}
